.tile {
    background-color: white;
    font-size: 64px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.tile:not(.tile-occupied):hover {
    background: rgb(182, 196, 226);
}

.tile-occupied:hover {
    cursor: default;
}