.tile {
    background-color: white;
    line-height: 20vh;
    font-size: 64px;
}

/* .tile:after{
    display: inline-block;
    content: "\00d7";
}

.tile:after{
    display: inline-block;
    content: "\25EF";
}

 */
