
.Options {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.options-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 20px 3px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-size: 18px;
    transition: background 0.2s ease-in-out;
}

.options-button:hover {
    background: green;
}

#undo-button {
    background: #818181;
}

#undo-button:hover {
    background: #6b6b6b;
}

#undo-button::after {
    content: "\00a0\00a0\238C";
}

#reset-button {
    background: #C21010;
}

#reset-button:hover {
    background: #b10d0d;
}

#reset-button::after {
    content: "\00a0\00a0\21BA";
}